* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* ###### navbar ###### */
header img {
    height: 75px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 14%;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 25px;
}

header ul li a {
    text-decoration: none;
    color: #6e7d94;
    font-size: 13px;
    font-weight: 600;
}

header ul a:hover {
    color: #e23636;
    transition: .3s;
}

header .logo .call {
    display: inline-flex;
    padding: 11px 18px 10px;
    gap: 7px;
    background-color: #e23636;
    color: #fdf1f1;
    border: none;
    border-radius: 30px;
}

header .logo .call span {
    font-size: 20px;
    margin-top: 4px;
}

header .logo .call p {
    font-size: 13px;
    margin-top: 4px;
}

header .logo .date {
    display: inline-flex;
    padding: 10px 18px 10px;
    gap: 7px;
    background-color: black;
    color: #fdf1f1;
    border-radius: 10px;
}

header .logo .date span {
    font-size: 20px;
    margin-top: 4px;
}

header .logo .date p {
    font-size: 13px;
    margin-top: 4px;
}

header .logo {
    display: flex;
    gap: 15px;
}

/* ###### hero section ###### */
.hero-section {
    background: linear-gradient(rgba(21, 45, 74, .95), rgba(21, 45, 74, .95)), url(https://cabinetnova.lovable.app/assets/hero-bg-D7VWzYF-.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .left h1 {
    color: #f8fafc;
    font-size: 40px;
    font-weight: 900;
    margin: 15px 10px 15px 0;
}

.hero-section .left p {
    color: #9da6b3;
    margin: 15px 10px 15px 0;
}

.hero-section .left h5 {
    color: #ced2d6;
    margin: 15px 10px 15px 0;
}

.hero-section .left ul li {
    color: white;
    margin-left: 14px;
}

.hero-section .left .btn1 {
    padding: 8px 17px;
    border-radius: 30px;
    border: none;
    background-color: #e23636;
    color: white;
    font-size: 16px;
    margin: 15px 10px 15px 0;
}

.hero-section .left .btn2 {
    padding: 8px 17px;
    border-radius: 30px;
    border: 1px solid #56687f;
    background: transparent;
    color: white;
    font-size: 16px;
}

.hero-section .right .main-box {
    display: flex;
    padding-top: 200px;
    background: url(https://cabinetnova.lovable.app/assets/hero-team-REZwSkkK.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 280px;
    border-radius: 20px;
    margin: 0px 0 0 100px;
}

/* ###### services ###### */
.services {
    padding: 80px 14%;
    text-align: center;
    background: #f9fafb;
}

.services h6 {
    color: #e23636;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.services h2 {
    font-weight: bold;
    font-size: 35px;
    padding: 10px 0;
}

.services p {
    color: #6c7c93;
    font-size: 15px;
}

.services .services-box div span {
    background-color: #17304f;
    color: white;
    font-size: 32px;
    padding: 10px;
    border-radius: 13px;
}

.services .services-box div h3 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}

.services .services-box div p {
    font-size: 14px;
    padding: 8px 0;
}

.services .services-box div {
    background: white;
    border: 1px solid #dfe5ec;
    border-radius: 15px;
    padding: 25px;
}

.services .services-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 30px;
}

/* ###### picture ###### */
.picture {
    padding-left: 19%;
    padding-right: 19%;
    padding-bottom: 80px;
    text-align: center;
    background: #f9fafb;
}

.picture h6 {
    color: #e23636;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.picture h2 {
    font-weight: bold;
    font-size: 35px;
    padding-top: 10px;
}

.picture h2 span {
    color: #e23636;
}

.picture .picture-main-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.picture .picture-main-box .sub-picture-box .picture-box img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.picture .picture-main-box .sub-picture-box {
    border: 1px solid #dfe5ec;
    border-radius: 20px;
}

.picture .picture-main-box .sub-picture-box .write-box {
    padding: 20px;
}

.picture .picture-main-box .sub-picture-box .write-box h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.picture .picture-main-box .sub-picture-box .write-box p {
    font-size: 15px;
    color: #444444;
}

.picture button {
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    background-color: #e23636;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* ###### france ###### */
.france {
    padding: 80px 14%;
    background: #17304f;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.france .right img {
    width: 90%;
    border-radius: 20px;

}

.france .left {
    margin-top: 27px;
}

.france .left h6 {
    color: #e23448;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.france .left h2 {
    color: white;
    padding: 15px 0;
    font-size: 40px;
    padding-bottom: 30px;
}

.france .left h2 span {
    color: #e23636;
}

.france .left a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: #e23636;
    padding: 8px;
    border-radius: 30px;
    font-weight: bold;
}

.france .left h5 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 0 20px;
}

.france .left p {
    color: #abbdc4;
    font-size: 15px;
}

/* ###### clients ###### */
.clients {
    padding: 80px 23%;
    text-align: center;
    background: #f2f5f7;
}

.clients h6 {
    color: #e23636;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.clients h2 {
    font-weight: bold;
    font-size: 30px;
    padding-top: 12px;
}

.clients .main-clients-box .clients-box .add span {
    font-size: 23px;
    letter-spacing: -7px;
    color: #e23448;
}

.clients .main-clients-box .clients-box .text h6 {
    color: #333333;
    font-weight: normal;
    font-size: 15px;
    margin: 8px 0 15px;
    text-transform: lowercase;
}

.clients .main-clients-box .clients-box .text h5 {
    font-size: 15px;
    font-weight: 600;
}

.clients .main-clients-box .clients-box .text p {
    font-size: 13px;
    color: #5f5f5f;
    padding-bottom: 15px;
}

.clients .main-clients-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.clients .main-clients-box .clients-box {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 15px;
    padding: 20px 15px 3px;
    text-align: left;
    background-color: white;
}

/* ###### FAQ ###### */
.faq {
    padding: 80px 23%;
    text-align: center;
}

.faq h6 {
    color: #e23448;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
}

.faq h2 {
    font-weight: bold;
}

.faq-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.faq-item[open] {
    border-color: #c23448;
}

summary {
    font-weight: normal;
    font-size: 16px;
    outline: none;
    list-style: none;
    position: relative;
    padding-right: 20px;
}


summary::after {
    content: '▼';
    position: absolute;
    right: 0;
    font-size: 12px;
    transition: 0.3s;
}

.faq-item[open] summary::after {
    transform: rotate(180deg);
}

.faq-content {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.faq .main-faq-box {
    padding-top: 25px;
}

/* ###### simplifier ###### */
.simplifier {
    padding: 80px 14%;
    text-align: center;
    background: #f7e6e6;
}

.simplifier button {
    padding: 8px 17px;
    border-radius: 30px;
    border: none;
    background-color: #e23636;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.simplifier h2 {
    font-weight: bold;
}

.simplifier p {
    font-size: 13px;
    color: #575757;
    padding-top: 10px;
}

/* ###### footer ###### */
.footer {
    padding: 80px 14%;
    background: #17304f;
    color: white;
}

.footer .footer-box .text img {
    height: 45px;
    background: white;
    margin-bottom: 20px;
    margin-top: 3px;
}

.footer .footer-box .text p {
    font-size: 15px;
    color: #cccccc;
}

.footer .footer-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 220px;
}

.footer .footer-box .contact .line {
    display: flex;
    gap: 14px;
}

.footer .footer-box .contact .line span {
    color: #cccccc;
    font-size: 19px;
}

.footer .footer-box .contact .line p {
    color: #cccccc;
    font-size: 14px;
}

.footer .footer-box h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

.footer .footer-box .Suivez-nous .icon {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 30px;
}

.footer .footer-box .Suivez-nous .icon a {
    text-decoration: none;
    font-size: 14px;
    color: #cccccc;
}

.footer .footer-box .Liens-rapides ul {
    list-style-type: none;
}

.footer .footer-box .Liens-rapides ul li {
    color: #cccccc;
    font-size: 15px;
    line-height: 23px;
}

.footer .footer-box .contact .line {
    line-height: 30px;
}

.footer .footer-box .Liens-rapides h3 {
    padding-left: -30px;
}

.footer .footer-box {
    border-bottom: 1px solid #384c66;
    padding-bottom: 20px;
}

.footer .nova {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer .nova .mentions {
    display: flex;
    gap: 20px;
}

.footer .nova p {
    color: rgb(161, 161, 161);
    font-size: 13px;

}

/* -------------------------------------------- */
@media(max-width:915px) {

    /* ###### navbar ###### */
    header {
        flex-wrap: wrap;
        padding: 17px 5%;
    }

    header .logo .date {
        display: none;
    }

    header .logo .call {
        display: none;
    }

    header img {
        padding-left: 35%;
    }

    header ul {
        gap: 7px;
    }

    header ul li a {
        text-decoration: none;
        color: #6e7d94;
        font-size: 11px;
        font-weight: 500;
    }

    /* ###### hero section ###### */
    .hero-section {
        padding: 30px 5%;
        flex-wrap: wrap;
    }

    .hero-section .left h1 {
        font-size: 30px;
        margin: 0px;
    }

    .hero-section .left ul li {
        margin-left: 15px;
    }

    .hero-section .right .main-box {
        display: none;
    }

    .hero-section .left p {
        font-size: 17px;
    }

    .hero-section .left h5 {
        font-size: 17px;
    }

    /* ###### services ###### */
    .services {
        padding: 30px 5%;
    }

    .services h2 {
        font-size: 27px;
        padding: 12px 0;
    }

    .services .services-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .services .services-box div p {
        font-size: 15px;
        padding-top: 9px;
    }

    .services .services-box div h3 {
        font-size: 17px;
    }

    /* ###### picture ###### */
    .picture {
        padding: 30px 5%;
    }

    .picture h2 {
        font-size: 27px;
        padding-top: 10px;
    }

    .picture .picture-main-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .picture .picture-main-box .sub-picture-box .write-box h4 {
        font-size: 19px;
    }

    .picture .picture-main-box .sub-picture-box .write-box p {
        font-size: 15px;
        padding: 15px 0;
        line-height: 22px;
    }

    .picture button {
        margin-bottom: 20px;
    }

    /* ###### france ###### */
    .france {
        padding: 30px 5%;
        flex-wrap: wrap;
    }

    .france .right img {
        display: none;
    }

    .france .left h6 {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .france .left h2 {
        font-size: 27px;
        line-height: 38px;
        padding: 15px 0 25;
    }

    .france .left a {
        font-size: 15px;
        padding: 10px;
    }

    .france .left h5 {
        font-size: 18px;
        line-height: 25px;
    }

    .france .left p {
        font-size: 17px;
        line-height: 25px;
    }

    /* ###### clients ###### */
    .clients {
        padding: 30px 5%;
    }

    .clients h6 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .clients h2 {
        font-size: 27px;
        padding-top: 10px;
    }

    .clients .main-clients-box .clients-box .text h6 {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0px;
        word-spacing: 2px;
        line-height: 22px;
    }

    .clients .main-clients-box {
        flex-wrap: wrap;
    }

    .clients .main-clients-box .clients-box .text p {
        font-size: 13px;
        padding: 10px 0;
    }

    /* ###### FAQ ###### */
    .faq {
        padding: 30px 5%;
    }

    .faq h6 {
        font-size: 15px;
    }

    .faq h2 {
        font-size: 27px;
        padding-top: 15px;
    }

    /* ###### simplifier ###### */
    .simplifier {
        padding: 30px 5%;
    }

    .simplifier h2 {
        font-size: 27px;
    }

    .simplifier p {
        font-size: 15px;
        padding: 18px 0 5px;
    }

    /* ###### footer ###### */
    .footer {
        padding: 30px 5%;
    }

    .footer .footer-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer .footer-box .text p {
        line-height: 25px;
    }

    .footer .footer-box h3 {
        font-size: 20px;
        padding: 35px 0 10px;
    }

    .footer .footer-box .Suivez-nous .icon {
        line-height: 28px;
    }

    .footer .footer-box .Liens-rapides h3 {
        padding-left: 0px;
    }

    .footer .footer-box .Liens-rapides ul li {
        line-height: 30px;
    }

    .footer .footer-box .contact .line {
        line-height: 30px;
        align-items: center;
    }

    .footer .nova {
        flex-wrap: wrap;
    }

    .footer .nova .cabinet {
        font-size: 17px;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .footer .nova .mentions p {
        font-size: 17px;
        gap: 0px;
    }
}